.inputComp{
    width: 27.148vw;
    height: 75px;
    border-radius: 64px;
    padding: 24px 36px 24px 36px;
    background: #EFEFEF;
    border: 1px solid #00000005;
    column-gap: black;
    font-size: 20px;
}

.inputComp:focus {
    outline: 2px solid #537FF1
  }

  .error{
    /* position: absolute; */
    /* bottom: 21.5vh; */
    color: #FF0808;
  }